## Activity Data File Analysis

### 2003-2004 Data Documentation, Codebook, and Frequencies (2005-2006 is identical)
Physical Activity - Individual Activities (PAQIAF_C)
Data File: PAQIAF_C.xpt
First Published: November 2005
Last Revised: NA
Component Description
This file is the second of two files on physical activities and includes detailed information about specific leisure-time activities only.

Eligible Sample
All survey participants 12 or more years of age were eligible.

Interview Setting and Mode of Administration
For respondents 12–15 years of age, information about specific leisure-time activities was obtained in the Mobile Examination Center (MEC). For respondents 16 or more years of age, the information was obtained in the household interview.

Data Processing and Editing
individual activities file. If a respondent reported no leisure-time activities, there are no records in the file for that respondent. Because of the recoding of “other” leisure-time activities, it is possible for a respondent to have two records for the same activity with the same level of exertion. For example, a respondent may have reported vigorous bicycling and vigorous spinning, which was recoded as bicycling.

PADACTIV: Numeric code for the reported activity (see Appendix 1).

PADLEVEL: Level of exertion reported for the activity. Activities reported as involving moderate exertion were coded 1 and vigorous were coded 2.

PADTIMES: Number of times the activity was done over the past 30 days. Originally reported as number of times per day, per week or per month and converted to number of times over the past 30 days.

PADDURAT: Average number of minutes the activity was done each time. The data was originally reported in hours or minutes and hours were converted to minutes.

PADMETS: Metabolic equivalent (MET) score for the activity (see Appendix 1). They were obtained from the reference below and personal communication with the author.

Activities for which the reported duration (PADDURAT) was less than 10 minutes were excluded.

PADTIMES and PADDURAT were set to missing for activities in which the total time per day was 12 hours or more. For example, if bowling was reported an average of 3 times a day over the past 30 days for an average of 4 hours each time, PADTIMES and PADDURAT were set to missing for this activity.

Analytic Notes
Because the PAQIAF questions for respondents 16 or more years of age were asked in the household interview, the interview sample weights may be used in their analysis. However, if the data is joined with data from the MEC, the MEC sample weights should be used. Analysis of the PAQIAF questions for 12–15 year olds should use the MEC sample weights as the questions were asked in the MEC.

Suggested metabolic equivalent (MET) scores for the activities listed in this file are included in Appendix 1. They were obtained from the reference below and personal communication with the author.

Please refer to the Analytic Guidelines for further details on the use of sample weights and other analytic issues at https://wwwn.cdc.gov/nchs/nhanes/analyticguidelines.aspx

The PAQIAF data are publicly available at www.cdc.gov/nchs/nhanes.htm.

References
Ainsworth BE, Haskell WL, Whitt MC, et al. Compendium of physical activities: an update of activity codes and MET intensities. Med Sci Sports Exerc. 32(9):S498–S516, 2000.
Codebook and Frequencies
SEQN - Respondent sequence number
Variable Name:SEQNSAS Label:Respondent sequence numberEnglish Text:Respondent sequence numberTarget:Both males and females 12 YEARS - 150 YEARS
PADACTIV - Leisure time activity
Variable Name:PADACTIVSAS Label:Leisure time activityEnglish Text:[Over the past 30 days], what {vigorous/moderate} activities did {you/SP} do?English Instructions:CODE ALL THAT APPLY.Target:Both males and females 12 YEARS - 150 YEARS
Code or Value	Value Description	Count	Cumulative	Skip to Item
10	AEROBICS	523	523	
11	BASEBALL	143	666	
12	BASKETBALL	1176	1842	
13	BICYCLING	865	2707	
14	BOWLING	169	2876	
15	DANCE	830	3706	
16	FISHING	163	3869	
17	FOOTBALL	469	4338	
18	GARDENING	17	4355	
19	GOLF	247	4602	
20	HIKING	304	4906	
21	HOCKEY	53	4959	
22	HUNTING	71	5030	
23	JOGGING	646	5676	
24	KAYAKING	35	5711	
25	PUSH-UPS	1	5712	
26	RACQUETBALL	35	5747	
27	ROLLERBLADING	107	5854	
28	ROWING	41	5895	
29	RUNNING	980	6875	
30	SIT-UPS	6	6881	
31	SKATING	128	7009	
32	SKIING - CROSS COUNTRY	20	7029	
33	SKIING - DOWNHILL	19	7048	
34	SOCCER	349	7397	
35	SOFTBALL	92	7489	
36	STAIR CLIMBING	284	7773	
37	STRETCHING	447	8220	
38	SWIMMING	452	8672	
39	TENNIS	158	8830	
40	TREADMILL	454	9284	
41	VOLLEYBALL	229	9513	
42	WALKING	2096	11609	
43	WEIGHT LIFTING	638	12247	
44	YARD WORK	23	12270	
50	BOXING	66	12336	
51	FRISBEE	65	12401	
52	HORSEBACK RIDING	31	12432	
53	MARTIAL ARTS	63	12495	
54	WRESTLING	99	12594	
55	YOGA	119	12713	
56	CHEERLEADING AND GYMNASTICS	23	12736	
57	CHILDREN'S GAMES (E.G. DODGEBALL, KICKBALL)	17	12753	
58	ROPE JUMPING	30	12783	
59	SKATEBOARDING	19	12802	
60	SURFING	4	12806	
61	TRAMPOLINE JUMPING	8	12814	
71	OTHER	53	12867	
.	Missing	0	12867	
PADLEVEL - Activity level
Variable Name:PADLEVELSAS Label:Activity levelEnglish Text:Reported intensity level of activity.Target:Both males and females 12 YEARS - 150 YEARS
Code or Value	Value Description	Count	Cumulative	Skip to Item
1	MODERATE	7185	7185	
2	VIGOROUS	5682	12867	
.	Missing	0	12867	
PADTIMES - # of times did activity in past 30 days
Variable Name:PADTIMESSAS Label:# of times did activity in past 30 daysEnglish Text:[Over the past 30 days], how often did {you/SP} do {activity}?Target:Both males and females 12 YEARS - 150 YEARS
Code or Value	Value Description	Count	Cumulative	Skip to Item
1 to 300	Range of Values	12847	12847	
.	Missing	20	12867	
PADDURAT - Average duration of activity (minutes)
Variable Name:PADDURATSAS Label:Average duration of activity (minutes)English Text:[Over the past 30 days], on average about how long did {you/SP} do {activity} each time?Target:Both males and females 12 YEARS - 150 YEARS
Code or Value	Value Description	Count	Cumulative	Skip to Item
10 to 600	Range of Values	12848	12848	
.	Missing	19	12867	
PADMETS - MET score for activity
Variable Name:PADMETSSAS Label:MET score for activityEnglish Text:Metabolic equivalent(MET) intensity level for activity.Target:Both males and females 12 YEARS - 150 YEARS
Code or Value	Value Description	Count	Cumulative	Skip to Item
2.5 to 10	Range of Values	12867	12867	
.	Missing	0	12867	
PAAQUEX - Questionnaire source flag for weighting
Variable Name:PAAQUEXSAS Label:Questionnaire source flag for weightingEnglish Text:Questionnaire source flag for weightingTarget:Both males and females 12 YEARS - 150 YEARS
Code or Value	Value Description	Count	Cumulative	Skip to Item
1	Sample Person Interview Questionnaire Targets (B(16-150))	9878	9878	
2	MEC CAPI Questionnaire Targets (B(12-15))	2989	12867	
.	Missing	0	12867	
Appendix 1. Physical Activity Codes
Physical Activity Codes
Code	Activity	Moderate MET Code	Vigorous MET code
10	
Aerobics

5.0	7.0
11	
Baseball

5.0	6.0
12	
Basketball

6.0	8.0
13	Bicycling	4.0	8.0
14	
Bowling

3.0	3.0
15	
Dance

4.5	6.0
16	
Fishing

3.5	6.0
17	Football	5.0	8.0
18	Gardening	4.0	5.0
19	Golf	3.5	4.5
20	Hiking	6.0	7.0
21	Hockey	6.0	8.0
22

Hunting	5.0	6.0
23	Jogging	6.0	7.0
24	Kayaking	3.5	7.0
25	Push-ups	3.5	8.0
26	Racquetball	7.0	10.0
27	Rollerblading	6.0	7.0
28	Rowing	3.5	7.0
29	Running	7.0	10.0
30	Sit-ups	3.5	8.0
31	Skating	5.0	7.0
32	Skiing – cross country	7.0	9.0
33	Skiing – downhill	6.0	8.0
34	Soccer	6.0	10.0
35	Softball	5.0	6.0
36	Stair Climbing	6.0	8.0
37	Stretching	2.5	2.5
38	Swimming	6.0	8.0
39	Tennis	5.0	7.0
40	Treadmill	4.5	7.0
41	Volleyball	4.0	8.0
42	Walking	3.5	5.0
43	Weight Lifting	3.0	6.0
44	Yard Work	4.0	6.0
50	Boxing	6.0	9.0
51	Frisbee	3.0	8.0
52	Horseback Riding	4.0	6.5
53	Martial Arts	4.0	10.0
54	Wrestling	6.0	8.0
55	Yoga	2.5	4.0
56	Cheerleading and Gymnastics	4.0	6.0
57	Children’s Games - Dodgeball, Kickball, etc.	5.0	6.0
58	Rope Jumping	8.0	10.0
59	Skateboarding	5.0	6.0
60	Surfing	3.0	5.0
61	Trampoline Jumping	3.5	4.5
71	Other	4.5	7.0

In [1]:
import pandas as pd
import json

import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

from nhanes.utils import get_nhanes_year_code_dict, get_source_code_from_filepath
from nhanes.utils import EmptySectionError, make_long_variable_name
from nhanes.utils import get_vars_to_keep, get_datasets

In [4]:
# Load the CSV files
file_path = '../data/raw_data/2003-2004a/PAQIAF_C.csv'
data20032004 = pd.read_csv(file_path)

# Display the first few rows of the dataset to understand its structure
data20032004.head()

      SEQN  PADACTIV  PADLEVEL  PADTIMES  PADDURAT  PADMETS  PAAQUEX
0  21007.0      38.0       2.0       1.0      60.0      8.0      2.0
1  21008.0      43.0       1.0      13.0      45.0      3.0      1.0
2  21008.0      12.0       2.0      15.0     120.0      8.0      1.0
3  21009.0      42.0       1.0       4.0      15.0      3.5      1.0
4  21009.0      43.0       1.0       4.0      60.0      3.0      1.0

In [5]:
# Load the CSV files
file_path = '../data/raw_data/2005-2006/PAQIAF_D.csv'
data20052006 = pd.read_csv(file_path)

# Display the first few rows of the dataset to understand its structure
data20052006.head()

      SEQN  PADACTIV  PADLEVEL  PADTIMES  PADDURAT  PADMETS  PAAQUEX
0  31129.0      42.0       1.0      13.0      12.0      3.5      2.0
1  31129.0      43.0       1.0      30.0      10.0      3.0      2.0
2  31129.0      17.0       2.0      13.0      30.0      8.0      2.0
3  31132.0      19.0       1.0      20.0     240.0      3.5      1.0
4  31132.0      42.0       1.0      13.0      40.0      3.5      1.0

### I have 2 data frames. Combine the two.

In [7]:
# Combine the two datasets
combined_data = pd.concat([data20032004, data20052006], ignore_index=True)
combined_data.head()

      SEQN  PADACTIV  PADLEVEL  PADTIMES  PADDURAT  PADMETS  PAAQUEX
0  21007.0      38.0       2.0       1.0      60.0      8.0      2.0
1  21008.0      43.0       1.0      13.0      45.0      3.0      1.0
2  21008.0      12.0       2.0      15.0     120.0      8.0      1.0
3  21009.0      42.0       1.0       4.0      15.0      3.5      1.0
4  21009.0      43.0       1.0       4.0      60.0      3.0      1.0

In [8]:
# Check for missing values
missing_values = combined_data.isnull().sum()
print("\nMissing Values in Combined DataFrame:")
print(missing_values)

Missing Values in Combined DataFrame:
SEQN         0
PADACTIV     0
PADLEVEL     0
PADTIMES    30
PADDURAT    25
PADMETS      0
PAAQUEX      0
dtype: int64

In [9]:
# Check if there are multiple rows per SEQN in the updated table
rows_per_seqn = combined_data['SEQN'].value_counts()

# Identify SEQN IDs with more than one row
multiple_rows_seqn = rows_per_seqn[rows_per_seqn > 1]

# Display the result
len(multiple_rows_seqn), multiple_rows_seqn.head()

(6399,
 SEQN
 21459.0    20
 33325.0    19
 27966.0    19
 31739.0    18
 33676.0    18
 Name: count, dtype: int64)

In [10]:
# Basic descriptive statistics
descriptive_stats = combined_data.describe()
print("\nDescriptive Statistics for Combined DataFrame:")
print(descriptive_stats)

Descriptive Statistics for Combined DataFrame:
               SEQN      PADACTIV      PADLEVEL      PADTIMES      PADDURAT  \
count  27079.000000  27079.000000  27079.000000  27049.000000  27054.000000
mean   31463.398353     28.616492      1.456664     12.710340     55.151216
std     5883.062521     13.259845      0.498128     16.365589     58.758195
min    21007.000000     10.000000      1.000000      1.000000     10.000000
25%    26401.000000     15.000000      1.000000      4.000000     20.000000
50%    31649.000000     29.000000      1.000000      9.000000     30.000000
75%    36539.000000     42.000000      2.000000     17.000000     60.000000
max    41473.000000     71.000000      2.000000    300.000000    600.000000

            PADMETS       PAAQUEX
count  27079.000000  27079.000000
mean       5.907696      1.234130
std        2.308070      0.423462
min        2.500000      1.000000
25%        3.500000      1.000000
50%        6.000000      1.000000
75%        8.000000      1.000000
max       10.000000      2.000000

In [14]:
# Save the combined DataFrame for reference
combined_data.to_csv('../data/dataCombined/combinedPAQIAF_data.csv', index=False)
print("\nCombined data saved as 'combined_data.csv'.")

Combined data saved as 'combined_data.csv'.

### The Adult Compendium uses 3.5 ml.kg-1.min-1 as a constant value for the resting metabolic rate (RMR) of 1 MET. The RMR reflects about 50 to 75% of one’s daily energy expenditure, with variation by age, weight, height, sex, and lean body mass. The RMR is higher in men than women and increases with height, weight, and lean mass and it decreases with age.

\
$ Calories = \frac{\text{METs} \times 3.5 \times \text{Weight}}{200} $

`Calories = $$ \frac{{\text{{METs}} \times 3.5 \times \text{{Weight}}}}{200} $$`

`Calories = $ \frac{{\text{{METs}} \times 3.5 \times \text{{Weight}}}}{200} $`

`Calories = $$ \frac{{\text{{METs}} \times 3.5 \times \text{{Weight}}}}{200} $$`

In [17]:
# Calculate Energy Expenditure (MET-minutes) and add it as a new column
combined_data['Energy_MET_minutes'] = combined_data['PADMETS'] * combined_data['PADDURAT'] * combined_data['PADTIMES']

# Save the updated dataset to a new CSV file
updated_file_path = '../data/dataCombined/combinedPAQIAF_data_with_energy.csv'
combined_data.to_csv(updated_file_path, index=False)

### Get the 2-digit code for activity from the compendium of activities file and save as new csv

In [23]:
# Load the CSV file
file_path = '../data/improved_compendium_data.csv'
compendium_data = pd.read_csv(file_path)

# Add a new column 'ActCode' by extracting the second and third digits from the 'Code' column
compendium_data['ActCode'] = compendium_data['Code'].astype(str).str[0:2]

# Save the updated DataFrame to a new CSV file
csv_path = '../data/compendium_data_with_actcode.csv'
compendium_data.to_csv(csv_path, index=False)

### Add column of activity label to the patient file. This will allow analysis of groups of individuals by activity type.

In [29]:
# Load the patient data file
patient_data_file = '../data/dataCombined/combinedPAQIAF_data_with_energy.csv'
patient_data = pd.read_csv(patient_data_file)

# Load the compendium data file
compendium_file = '../data/compendium_data_with_actcode.csv'
compendium_data = pd.read_csv(compendium_file)

# Clean and standardize the 'PADACTIV' column in patient data
patient_data['PADACTIV'] = patient_data['PADACTIV'].fillna(0).astype(int).astype(str)

# Clean and standardize the 'ActCode' column in compendium data
compendium_data['ActCode'] = compendium_data['ActCode'].astype(int).astype(str)


# Merge the patient data with the compendium data based on activity codes
merged_data = pd.merge(
    patient_data, 
    compendium_data[['ActCode', 'Activity']],  # Only keep necessary columns from compendium
    left_on='PADACTIV', 
    right_on='ActCode', 
    how='left'  # Keep all rows from patient data
)

# Fill missing labels with 'Unknown' for unmatched activity codes
merged_data['Activity'] = merged_data['Activity'].fillna('Unknown')

# Save the updated patient data with the new Activity column
output_file = '../data/dataCombined/patient_data_with_activity_labels3.csv'  
merged_data.to_csv(output_file, index=False)

print(f"Updated file saved as: {output_file}")

Updated file saved as: ../data/dataCombined/patient_data_with_activity_labels3.csv

In [31]:
#
# Load the patient data file
patient_data_file = '../data/dataCombined/patient_data_with_activity_labels3.csv'  
patient_data = pd.read_csv(patient_data_file)
# Aggregate energy expenditure by individual (SEQN)
individual_energy = patient_data.groupby('SEQN')['Energy_MET_minutes'].sum().reset_index()
individual_energy.rename(columns={'Energy_MET_minutes': 'Total_Energy_MET_minutes'}, inplace=True)

# Aggregate energy expenditure by activity type (PADACTIV)
activity_energy = patient_data.groupby('PADACTIV')['Energy_MET_minutes'].mean().reset_index()
activity_energy.rename(columns={'Energy_MET_minutes': 'Avg_Energy_MET_minutes'}, inplace=True)

# Display the results 
individual_energy.head()

      SEQN  Total_Energy_MET_minutes
0  21007.0                     480.0
1  21008.0                 1225755.0
2  21009.0                  164430.0
3  21010.0                   12600.0
4  21012.0                      56.0

In [32]:
activity_energy.head()

   PADACTIV  Avg_Energy_MET_minutes
0        10             3242.123801
1        11             4565.280528
2        12             7003.718396
3        13             3552.202198
4        14             1487.044321

In [ ]:
# Check for missing values
missing_values = combined_data.isnull().sum()
print("\nMissing Values in Combined DataFrame:")
print(missing_values)

# Basic descriptive statistics
descriptive_stats = combined_data.describe()
print("\nDescriptive Statistics for Combined DataFrame:")
print(descriptive_stats)

# Save the combined DataFrame for reference
combined_data.to_csv('combined_data.csv', index=False)
print("\nCombined data saved as 'combined_data.csv'.")

# Example analysis: Aggregating energy expenditure (if such a column exists)
if 'Energy_MET_minutes' in combined_data.columns:
    total_energy_expenditure = combined_data.groupby('SEQN')['Energy_MET_minutes'].sum().reset_index()
    print("\nTotal Energy Expenditure by SEQN:")
    print(total_energy_expenditure.head())

# Example analysis: Count of activities by year
if 'Year' in combined_data.columns and 'Activity' in combined_data.columns:
    activity_count_by_year = combined_data.groupby(['Year', 'Activity']).size().reset_index(name='Count')
    print("\nActivity Count by Year:")
    print(activity_count_by_year.head())